[/script/shootergame.shootergamemode]
GlobalSpoilingTimeMultiplier=2.0
GlobalItemDecompositionTimeMultiplier=2.0
GlobalCorpseDecompositionTimeMultiplier=2.0
MatingIntervalMultiplier=0.1
EggHatchSpeedMultiplier=16.0
BabyMatureSpeedMultiplier=16.0
BabyCuddleIntervalMultiplier=0.1
bPassiveDefensesDamageRiderlessDinos=true
bDisableStructurePlacementCollision=true
;NPCReplacements=(FromClassName="AnkyloAnvil_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaArgent_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaToad_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaBigfoot_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="ElderSpider_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaDilo_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="wolf_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="Doodoo_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="ElderDodorex_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="ElderGorilla_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaDolphin_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaPachy_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaPara_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaKangaroo_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="PteraDon_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="Quartz_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaSaber_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="FairerBird_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="Drake_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="ElderBehemoth_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaQuetz_Character_BP_C",ToClassName="")
;NPCReplacements=(FromClassName="BetaTerrorBird_Character_BP_C",ToClassName="")


